{% extends "base.html.twig" %}

{% block title %}David Didnik
{% endblock %}


{% block content %}
{{ include('_banner.html.twig', {'title': 'David Didnik', 'text': 'David Didnik, développeur rouennais d\'application php symfony. Ce blog est développé en php natif, dans le cadre d\'un projet de formation.', 'page': 'home'}) }}
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
			{% for article in articles%}
				{% if article.isValidated is same as (false) or article.promote is same as (false) %}

				{% else %}
				
				<!-- Post preview-->
				<div class="post-preview">
					<a href="/article/{{article.id}}/{{article.slug}}">
						<h2 class="post-title">{{ article.title }}</h2>
						<h3 class="post-subtitle">{{ article.excerpt }}</h3>
						<img src="/uploads/thumbnails/{{ article.thumbnailUrl }}" alt="{{ article.title }}" class="img-fluid">
					</a>
					<p class="post-meta">
						Posté par
						{{ article.author.firstName }} {{ article.author.lastName }}
						le
						{{ article.updateDate|date("d/m/Y") }}
						| Catégorie : {{ article.category.name }}
					</p>							
				</div>

				<!-- Divider-->
				<hr class="my-4"/>
				
				{% endif %}

				{% endfor %}

				{% include 'message.html.twig' %}
				
				<h3>Contactez-moi !</h3>
				{# Contact form #}
				<div class="my-5">
					<form id="contactForm" action="" method="POST">
						<div class="form-floating">
							<input class="form-control" id="name" type="text" name="name" placeholder="Enter your name..."/>
							<label for="name">Name</label>
							{% if errors.name %}
								<small class="small-test-error">{{ errors.name }}</small>
							{% endif %}
						</div>
						<div class="form-floating">
							<input class="form-control" id="email" type="email" name="email" placeholder="Enter your email..."/>
							<label for="email">Email address</label>
							{% if errors.email %}
								<small class="small-test-error">{{ errors.email }}</small>
							{% endif %}
						</div>
						<div class="form-floating">
							<input class="form-control" id="phone" type="tel" name="phone" placeholder="Enter your phone number..."/>
							<label for="phone">Phone Number</label>
							{% if errors.phone %}
								<small class="small-test-error">{{ errors.phone }}</small>
							{% endif %}
						</div>
						<div class="form-floating">
							<textarea class="form-control" id="message" name="message" placeholder="Enter your message here..." style="height: 12rem"></textarea>
							<label for="message">Message</label>
							{% if errors.message %}
								<small class="small-test-error">{{ errors.message }}</small>
							{% endif %}
						</div>
						{# Submit Button #}
						<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
